* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 150px;
    width: 380px;
    margin-bottom: 40px;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    padding: 30px;
    background-image: url(https://img.myloview.com.br/quadros/retro-raios-comic-fundo-amarelo-raster-gradiente-halftone-estilo-pop-art-700-75205829.jpg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

button {
    margin: 20px 0px;
    padding: 10px;
    font-size: 60px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    transition: opacity 0.5s ease-in-out;
}

.word {
display: grid;
place-items: center;
background-color: antiquewhite;
}

button:hover {
    opacity: 0.7
}

#rock {
    background-color: black;
}

#paper {
    background-color: black;
}

#scissors {
    background-color: black;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.result {
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.your-score span {
    color: rgb(16, 116, 16);
    font-size: bold;
}

.machine-score span {
    color: red
}

@media screen and (max-width:750px) {
    .container {
        padding: 10px;
    }


}